/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Roboto;
}

*::after,
*::before { 
	box-sizing: border-box;
}
h1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 48px;
	color: #ffffff;
	line-height: 56px;
}

h2 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	text-align: center;
	color: #200142;
	padding-top: 160px;
	margin-bottom: 75px;
}

h3 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 32px;
	line-height: 40px;
	margin-top: 70px;
	text-align: center;
	color: #ffffff;
}

h4 {
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 14px;
	line-height: 24px;
	color: #5101A6;
	text-transform: uppercase;
	padding-top: 20px;
}

textarea {
	width: 256px;
    height: 72px;
	border: 1px solid #ffffff;
	border-radius: 6px;
	color: #5101A6;
	font-size: 18px;
}

.site-container {
	overflow: hidden;
	background-image: url(img/png/maskgroup.png);
}

.container {
	max-width: 1210px;
	padding: 0;
	margin: 0 auto;
} 

.flex {
	display: flex;
}

.header__container {
	justify-content: space-between;
	margin-top: 40px;
}

.btn {
	font-family: 'Roboto';
	text-align: center;
	text-transform: uppercase;
}

.btn-reset {
	border: none;
	cursor: pointer;
}

.btn--info {
	color: #5101A6;
	background-color: #ffffff;
	border-radius: 6px;
	font-weight: 900;
	font-size: 12px;
	margin: 0 10px;
}

.header-btn {
	width: 180px;
	height: 40px;
	margin-right: -5px;
}

.first {
	position: relative;
	padding-top: 30px;
	overflow: hidden;	
}  

.first__container{
	display: flex;
	justify-content: space-between;
}

.first-info {
	padding-top: 90px;
	position: relative;
	z-index: 1;
}

.first-info__descr {
	font-family: 'Roboto';
	font-style: normal;
	font-size: 20px;
	color: #ffffff;
	margin-top: 48px;
	line-height: 28px;
}

.first-info__btns {
	margin-top: 45px;
    margin-left: -15px;
	margin-bottom: 200px;
	display: inline-flex;
}

.first-info__btn {
	width: 156px;
	height: 48px;
	margin-right: 15px;
}

.play__btn {
	background-image: url(img/png/play.png);
	width: 48px;
	height: 48px;
	border: none;
	background-repeat: no-repeat;
}

.first__png {
	position: absolute;
	right: 250px;
	z-index: 0;
	top: 130px;
}

.second {
	background-color: #ffffff;
}

.second-offers {
	margin-top: 75px;
	margin-bottom: 20px;
}

.second-offers a {
	text-decoration: none;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #5101A6;
}

.hot-offers {
	margin-right: 45px;
	padding-bottom: 10px;
	border-bottom: 2px solid #5101A6;
}

.slider-container {
	width: 1210px;
	position: relative;
	width: 100%;
}

.swiper-slide {
	color: #8993ad;
	font-size: 20px;
	font-style: Roboto Medium;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
}

.swiper-slide:hover {
	color: #fc819e; 
	transition-duration: 0.3s;
}

.swiper-wrapper {
	margin-left: 5px;
}

.swiper-wrapper a {
	text-decoration: none;
	font-size: 20px;
	color: #8993ad;
}

.card-text {
	margin-top: 8px;
	font-family: 'Roboto';
	font-size: 13px;
	line-height: 20px;
	color: #000000;
	text-align: initial;
}

.slider-buttons {
	padding-bottom: 30px;
}

.swiper-button-prev {
	background-image: url(img/png/arrow1.png);	
}

.swiper-button-next {
	background-image: url(img/png/arrow2.png);
}

.swiper-button-prev,
.swiper-button-next {
	width: 48px;
	height: 48px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	top: 10px;
	position: absolute;
}

.swiper-button-prev {
	left: 89%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	display: none;
}

.swiper-pagination {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 45px;
    margin-bottom: 90px;
}

.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	margin: 0 16px;
	background-color: #E0E0E0;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #5101A6;
}

.third {
	background-image: url(img/png/third.png);

}

.third__container {
	display: flex;
	flex-direction: column;
}


.third__questions-details {
	margin-top: 30px;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	color: #ffffff;
}

.third__info {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 110px;
}

.third__info form {
	display: flex;
	justify-content: space-between;
}

#third__info-name, #third__info-phone {
	width: 256px;
    height: 72px;
    border: 1px solid #BB6BD9;
	border-radius: 6px;
	color: #BB6BD9;
}

#third__info-name input, #third__info-phone input {
	background: transparent;
	padding-left: 24px;
	border: none;
	border-radius: 6px;
	color: #5101A6;
}

#third__info-name, #third__info-phone {
	font-size: 18px;
	font-family: 'Roboto';
	font-weight: 700;
	line-height: 24px;
}

.third__btn {
	font-family: 'Roboto';
	text-align: center;
	text-transform: uppercase;
	width: 256px;
	height: 72px;
	background-color: #5101A6;
	color: #ffffff;
	border-radius: 6px;
}

.footer {
	background-image: url(img/png/darkbottom.png);	
	display: flex;
	justify-content: center;
}

.footer__logo img {
	margin-top: 25px;
}

.modal-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.modal {
	background-color: rgba(255, 255, 255, 0.9);
	width: 350px;
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	border: 1px solid #f82370;
}

.modal-overlay--visible {
	opacity: 1;
	visibility: visible;
	transition: all 0.3s ease-in-out;
}

.modal--visible {
	display: block;
}

.modal-name {
	margin-bottom: 10px;
	margin-top: 20px;
	text-align: center;
}

.modal-name span {
	font-size: 18px;
	font-weight: bold;
	color: black;	
	border-bottom: 0.5px solid #f5f5f5;	
	overflow:hidden;
	color: #f53f4f;
}

.modal-name input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	color: black;	
	border: 1px solid #ebebeb;
	background-color: #fcfcfc;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.modal-phone {
	margin-top: 20px;
	text-align: center;
	color: #f53f4f;
}

.modal-phone span {
	font-size: 18px;
	font-weight: bold;
	color: black;	
	border-bottom: 0.5px solid #f5f5f5;	
	overflow:hidden;
	color: #f53f4f;
}

.modal-phone input {
	width: 100%;
	height: 40px;
	font-size: 16px;
	color: black;	
	border: 1px solid #ebebeb;
	background-color: #fcfcfc;
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}

.modal-btn {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	height: 95px;
}

.footer__mobile {
	display: none;
}

.error {
	background-color: red !important;;
}

@media (max-width: 1366px) {

	.header__container {
		justify-content: space-around;
	}

	.header-btn {
		margin-top: -5px;
	}

	.first-info {
		margin-left: 50px;
	}

	.first__png {
		width: 50%;
		right: 50px;
	}

	.second-offers {
		display: flex;
		justify-content: center;
	}

	.swiper-container {
        margin-left: 20px;
        margin-right: 20px
    }

	.swiper-button-prev {
		left: 79%;
	}

	.swiper-button-next {
		left: 85%;
	}	

	.swiper-slide img {
		width: 100%;
	}

	.third__info {
		width: auto;
		margin-right: 20px;
		margin-left: 20px;
	}

	#third__info-name, #third__info-phone {
	    width: 220px;
        height: 62px;
    }

    .third__btn {	
	    width: 220px;
	    height: 62px;	
    }

    textarea {
	    width: 220px;
        height: 62px;
	}
}

@media (max-width: 1024px) {

	.first-info__btns {
		margin-bottom: 100px;
	}

	h2 {
		padding-top: 100px;
	}

	.third__info form {
		flex-wrap: wrap;
	}	

	#third__info-name, #third__info-phone {
	   margin-right: 20px;
	   margin-bottom: 20px;
    }

    textarea {
    	margin-right: 20px;
	    margin-bottom: 20px;
    }

}

@media (max-width: 768px) {

	h1 {
		font-size: 38px;
	}
    
    .first-info__descr {
    	font-size: 18px;
    }

    h2 {
		padding-top: 50px;
		margin-bottom: 50px;
	}

	.second-offers {
		margin-top: 0;
	}

	#third__info-name, #third__info-phone {
		width: 50%;
	}
	
	textarea {
		width: 50%;
	}	

}

@media (max-width: 576px) {

	.header-btn {
		display: none;
	}

	.swiper-button-prev,.swiper-button-next {
		display: none;
	}

	.card-text {
		text-align: center;
	}

	.swiper-pagination {
		margin-bottom: 40px;
	}	

	#third__info-name, #third__info-phone {
		width: 100%;
	}
	
	textarea {
		width: 100%;
	}

	.third__questions-details {
		display: none;
	}

	.third__btn {
		width: 100%;
	}	
}

@media (max-width: 320px) {

	.first-info {
	padding-top: 0;
	margin-left: 20px;
	}

	.first__png {
		top: 190px;
		right: 10px;
	}

	.first-info__btns {
		margin-bottom: 50px;
	}

	h2 {
		padding-top: 20px;
		margin-bottom: 30px;
	}

	.swiper-pagination {
		margin-bottom: 20px;
	}

	h3 {
		margin-top: 20px;
	}	

	.third__info {
		margin-bottom: 50px;
	}
}	





